<div class=" content col-xs-12">
  <%= image_tag 'ghlogo1.png', class: 'logo col-xs-10 offset-1' %>
  <br />
  <br />
  <div class="container value col-10 offset-1">
    <h1>A curated list of 500+ resources for a killer PH launch</h1>
    <h4>Be the first to know when we go live</h4>
    <br />
  <form action="mailto: getproducthunted@gmail.com" method="post" enctype="text/plain">
    <input type="text" placeholder="i.m.awesome@somemail.com" class="col-xs-8">
    <br />
    <br />
    <input type="submit" value="Submit Email" class="btn btn-static-secondary">
    <br />
  </form>
  </div>
</div>