
<div class="content col-xs-12">
  <%= image_tag 'ghlogo1.png', class:'logo' %>
  <br />
  <br />
  <div class="container value col-10 offset-1">
    <p class="prop">A curated list of 500+ resources for a killer PH launch</p>
    <p class="sub-prop">Be the first to know when we go live</p>
    <br />
  <form action="mailto: getproducthunted@gmail.com" method="post" enctype="text/plain">
    <input type="text" placeholder="i.m.awesome@somemail.com" class="col-xs-8">
    <br />
    <br />
    <input type="submit" value="Submit Email" class="btn btn-static-secondary">
    <br />
  </form>
  </div>
</div>