<br />
<div class="containter hero">
  <div class ="row">
    <%= image_tag 'tiger2', class: 'logo2 col-2' %>
    <div class= "col-10">
      <br />
      <div class ="row name">
        <p class='gethunted'>gethunted</p><p class="io">.io</p>
      </div>
        <p class="realprop">a curated list of 500+ resources for a killer PH launch</p>
    </div>  
  </div>
</div>