@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kalam');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.content {
  @media screen and (max-height: 2560){
    margin-top: 50%;
  }
}
.logo {
  margin-top: 30px;
  margin-left: 30px;
}
.value {
  margin-top: 75px;
  color: #000000;
  font-size: 25px;
  text-shadow: 0 0 3px #ffffff;
  font-weight: 700;
  text-align: center;
}
input[type=text], select {
  border: 1px solid #ff6600;
  border-radius: 10px;
  width: 60%;
  height: 70px;
}
input[placeholder] {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 35px;
}
input[type=submit] {
  color: #ffffff;
  background-color: #50baa9;
  height: 50px;
  width:160px;
  border-radius: 50px;
  -moz-border-radius: 50px;
}
input[type=submit]:hover {
  background-color: #ff6600;
}