<div class="content col-xs-12">
  <%= image_tag 'ghlogo1.png', class:'logo' %>
  <br />
  <br />
  <div class="container value col-xs-12">
    <p class="prop">A curated list of 500+ resources for a killer PH launch</p>
    <hr />
    <p class="sub-prop">Be the first to know when we go live</p>
    <br />
    <%= simple_form_for @email do |f| %>
      <%= f.input :address, placeholder: 'i.m.awesome@somemail.com' %>
      <%= f.submit 'Submit Email' %>
    <% end %>
  </div>
</div>